---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import Headline from '../ui/Headline.astro'

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/stack/*')
const imagePaths = Object.keys(images).filter((imagePath) => {
  return imagePath.startsWith(`/src/assets/images/stack`)
})

---

<section class="opacity-70 border backdrop-blur-lg border-white/10 bg-teal-600 not-prose ">
  <div class="mt-20 text-center">
    <Headline title="Some of the Technologies We Use" subtitle='Depending on the project, we utilize different technologies' classes={{title:'dark:text-neutral-700 tracking-normal drop-shadow-[-.5px_0px_0px_rgba(90,230,230,1)] '}}/>
  </div>
  <div class="max-w-5xl mx-auto text-xs font-medium uppercase mb-20">
    <div class="p-8 grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6 lg:gap-10 items-center justify-items-center brightness-0 grayscale contrast-50 drop-shadow-[-.5px_0px_0px_rgba(90,230,230,1)] ">
      {
        imagePaths.map(async (imagePath) => {
          const image = images[imagePath]()
          const imageAlt = imagePath.split('/').pop() as string;
          return (
            <Image 
              src={image} 
              alt={imageAlt}
              loading="lazy"
              height={30}
              widths={[400, 768]} />
          )
        })
      }
      </div>
  </div>
</section>