---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import Headline from '../ui/Headline.astro'

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/provider/*')
const imagePaths = Object.keys(images).filter((imagePath) => {
  return imagePath.startsWith(`/src/assets/images/provider`)
})

---

<section class="dark:opacity-70 backdrop-blur-lg border border-green-100/20 bg-green-100/15 dark:bg-teal-500/50 dark:border-green-100/20 not-prose">
  <div class="mt-20 text-center">
    <Headline title="Our Infrastructure Providers"/>
  </div>
  <div class="opacity-70 dark:opacity-100 blur-[1px] dark:blur-0 max-w-5xl mx-auto text-xs font-medium uppercase mb-20">
    <div class="p-8 grid grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1 md:gap-10 items-center justify-items-center dark:brightness-0 dark:grayscale dark:contrast-50 drop-shadow-[-.5px_0px_0px_rgba(90,230,230,1)] ">
      {
        imagePaths.map(async (imagePath) => {
          const image = images[imagePath]()
          const imageAlt = imagePath.split('/').pop() as string;
          return (
            <Image 
              src={image} 
              alt={imageAlt}
              loading="lazy"
              height={100}
              widths={[400, 768]} />
          )
        })
      }
      </div>
  </div>
</section>