---

---

<section class="backdrop-blur-lg border border-green-100/20 bg-green-800/5 dark:bg-white/10 dark:border-green-950/15 p-10 not-prose">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-4 text-xs font-medium uppercase">
    <span class="font-bold ">
       Trusted by </span
    ><br/> Industry Leaders,<br/> Startups and SMEs
  </div>
  
</section>
