---
import Banners from '~/components/widgets/Banners.astro';
import Banners3 from '~/components/widgets/Banners3.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import Stats2 from '~/components/widgets/Stats2.astro';
import PortFolioSummary from '../blog/PortFolioSummary.astro';
---
<Features2
id="features"
tagline="Why Choose Us for Web Design & Web Applications"
title="<p class='font-normal'>Agile. Adaptive. Iterative Development for High-Impact Web Solutions.</p>"
items={[
  {
    title: 'Cost-Effective Design & Development',
    description:
      "Start with the essentials. Build what you need first, then tweak as you go. Things change quickly<span class='hidden group-hover:opacity-100 group-hover:inline'> so stay flexible to avoid wasted resources and focus on your priorities</span>",
    icon: 'carbon:ibm-cloud-hpc',
  },
  {
    title: 'Custom Solutions Tailored to Your Needs',
    description:
      "No two businesses are alike. We work closely to understand your objectives, <span class='hidden group-hover:inline'>workflows and pain points, crafting custom solutions that meet your needs drive growth</span>",
    icon: 'carbon:development',
  },
  {
    title: 'Future & AI-Ready Web Experiences',
    description:
      "Leveraging the latest technologies, we build websites and web applications that are not <span class='hidden group-hover:opacity-100 group-hover:inline'>only effective today but scalable and adaptable for tomorrow’s challenges</span>",
    icon: 'carbon:ml-model-reference',
  },
  {
    title: 'Seamless Integration of Web App Ecosystems',
    description:
      "We seamlessly integrate custom software with your existing systems, ensuring <span class='hidden group-hover:inline'> third-party APIs, cloud services, and tools work together to maximize efficiency</span>",
    icon: 'carbon:ibm-api-connect',
  },
  {
    title: 'Continuous Integration and Deployment (CI/CD)',
    description:
      "With automated CI/CD, your software stays updated and agile, adapting swiftly to <span class='hidden  group-hover:inline'> operational changes and enabling confident scaling without downtime or disruption</span>",
    icon: 'carbon:carbon-ui-builder',
  },
  {
    title: 'Two-Way<br/> Communication',
    description:
      "Customers focus on immediate needs, while developers emphasize <span class='hidden group-hover:inline'>  long-term health. We prioritize balanced communication, empathy and collaboration to craft effective web solutions</span>",
    icon: 'carbon:direct-link',
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-page"></div>
</Fragment>
</Features2>

  <Banners/>

  <Stats2
    stats={[
      { title: 'Content Delivery Network Worldwide', amount: '330+', },
      { title: 'High Availability Uptime', amount: '99.99%' },
      { title: 'Malicious Traffic Automatic Mitigation', amount: '< 3s' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Growing Together"
    title="Partner with Us to Digitalize<br/> Your Business"
    subtitle="We don’t just work with clients; we build long-lasting relationships where we both thrive"
    items={[
      {
        title: 'Proven Expertise',
        icon: 'carbon:badge',
        description:
          'With over a decade of experience, our team has delivered successful projects across a range of industries, helping businesses achieve their goals',
      },
      {
        title: 'Collaborative Partnerships',
        icon: 'carbon:events',
        description:
          "We've built strong partnerships in AI, IoT, hardware, event management and HR, delivering innovative and comprehensive business solutions",
      },      
      {
        title: 'Industry-Leading Practices',
        icon: 'carbon:layers-external',
        description:
          "Gain a competitive advantage by incorporating industry leading practices ",
      },
      {
        title: 'Cutting-Edge Technology',
        icon: 'carbon:carbon-for-ibm-product',
        description:
          'We stay at the forefront of technology, using the latest tools and innovations',
      },
      {
        callToAction: {
          text: "Let's Chat",
          variant: 'secondary',
          href: '#contact',
          icon: 'tabler:chevron-right',
        },
      },
    ]}
    image={{
      src: '~/assets/images/growing2.webp',
      alt: 'Colorful Image',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page"></div>
    </Fragment>
  </Content>

  <Banners3/>
  <!-- Content Widget **************** -->

  <PortFolioSummary/>
