<script is:inline src="/threejs/index-Dy_4f43P.js.gz"></script>
<div id="dimension" class="fixed h-full -z-10 dark:brightness-[0.4] dark:contrast-[1.5] transition duration-700">
</div>
<div id="autopilot" class="fixed right-3 bottom-5 md:bottom-20 px-6 py-2 rounded-xl text-xs -z-10 backdrop-blur-xl border border-green-100/20 bg-green-800/5 dark:bg-white/10 dark:border-green-950/15">Auto Pilot: Engaged</div>