<script is:inline type="module" src="/src/assets/threejs/index-Dy_4f43P.js.gz"></script>
<div id="dimension" class="fixed h-full -z-10">
</div>
<div id="autopilot" class="fixed right-0 bottom-1 px-3 py-1.5 rounded-tl-lg text-sm bg-teal-500 text-white -z-10">Auto Pilot: Engaged</div>