---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Steps4 from '~/components/widgets/Steps4.astro';
import Layout from '~/layouts/PageLayout.astro';
import Banners2 from '~/components/widgets/Banners2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import PortFolioSummary from '~/components/blog/PortFolioSummary.astro';
import PortFolio from '~/components/widgets/PortFolio.astro';
const metadata = {
  title: 'About us - KL - Kuching | MicroWeb',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero3>
    <Fragment slot="title">
      Solving Real-World Problems with <br />
      <span class="text-accent dark:text-white highlight"> Software Solutions</span>
    </Fragment>

    <Fragment slot="subtitle">
      MicroWeb's team of experts turns your business ideas into effective software.
      We're a leading digital transformation partner, helping businesses succeed in the digital world.
      We create great online experiences that connect with your customers and deliver real results.
    </Fragment>
  </Hero3>
  <Banners2 isBgBlack="true"/>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Core Value: People First"
    subtitle="MicroWeb builds strong, lasting relationships with our clients. We work closely with successful brands, startups, and other developers to create outstanding solutions together."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Relationship-Focused',
        description:
          'MicroWeb prioritizes building long-term, mutually beneficial relationships with clients, not just transactional work',
        icon: 'carbon:user-favorite-alt',
      },
      {
        title: 'Collaborative Approach',
        description:
          'Work closely with a diverse range of partners, including established brands, emerging startups, and fellow developers, fostering a team-oriented environment',
        icon: 'carbon:events',
      },
      {
        title: 'Specialized Efficiency',
        description:
          'Our team is divided into experts. Each team focuses on one area of the software, making them very efficient and delivering excellent results',
        icon: 'carbon:gears',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    image={{
      src: '~/assets/images/aboutus.jpg',
      alt: 'about people',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="<p>At the end of the day, it's about the people. We've built a company culture where everyone's working together, always trying new things, and constantly getting better.</p><p class='mt-4'>Even the best teams have their ups and downs, disagreements or setbacks along the way but hey that's where the real magic happens. We learn from our mistakes, bounce ideas off each other, and come up with some really cool stuff.</p>"

    items={[
      {
        title: 'Masters of Their Craft',
        description:
          'These specialists concentrate solely on their assigned modules, resulting in highly efficient and precise app development',
      },
      {
        title: 'Scalable, Flexible Teams',
        description:
          'Because our teams are built around independent modules, we can easily add or adjust resources without disrupting the entire project',
      },
      {
        title: 'Progressive Project Management',
        description:
          'Dedicated module teams allow for rapid resource switching, enabling quick adjustments to progressive project needs',
      },
    ]}
  />
  <PortFolio
    id="porfolio"
    title="Our Long-Term Vision for an Immersive Platform"
    tagline="Vision / Aspiration"
    classes={{panel:'bg-neutral-100 dark:bg-neutral-600 border border-black dark:border-0', container:'pb-4 pt-12 md:pb-8 md:pt-4 lg:pb-8 lg:pt-4', action:'text-secondary dark:text-accent'}}
    items={[
      {
        title: 'The Inevitable Shift Investing in the Future of Engaging Education',
        icon: 'carbon:application-web',
        description:
          "A 3D interactive learning platform that redefines engagement and makes education captivating. This is not just a trend; it's the future of learning.",
      },
    ]}
    image={{
      src: '~/assets/images/blog/kidsthinking.webp',
      alt: 'ford raptor',
    }}
    callToAction={{
      text: 'Read case study',
      icon: 'tabler:chevron-right',
      href: '/3d-learning-platform',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
        Shape the Future of Education <br /><span class="text-lg font-semibold">Redefines Engagement and Makes Education Captivating</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page"></div>
    </Fragment>
  </PortFolio>
  
  <Features4
  tagline="Our Services"
  title='Digital Partner That Prioritizes Your Return on Investment'
  columns={4}
  classes={{ container: 'my-24 md:mb-0 md:pb-20' }}
  items={[
    {
      title: 'Custom Software for Growth',
      description: "Secure, Seamless and <br/>Tailored Solutions",
      link: '/software',
      icon: 'carbon:analytics-custom',
      callToAction: {
        variant: 'link',
        class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
        icon: 'carbon:arrow-right',
      },
    },
    {
      title: 'AI-Powered Marketing for Reach',
      description: "Personalized Users' <br/>Experiences",
      link: '/ai-marketing',
      icon: 'carbon:machine-learning-model',
      callToAction: {
        variant: 'link',
        class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
        icon: 'carbon:arrow-right',
      },
    },
    {
      title: 'Future-Ready System Integration',
      description: "Seamless API and <br/>AI Solutions",
      link: '/integration',
      icon: 'carbon:ibm-z-cloud-mod-stack',
      callToAction: {
        variant: 'link',
        class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
        icon: 'carbon:arrow-right',
      },
    },
    {
      title: 'Bespoke Web Development for UI/UX',
      description: "Navigating Digital Landscape<br/> with Confidence",
      link: '/web-development',
      icon: 'carbon:network-enterprise',
      callToAction: {
        variant: 'link',
        class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
        icon: 'carbon:arrow-right',
      },
    },
  ]}
>
</Features4>
  <Steps4
    title="Our Journey"
    subtitle='Lifelong Learning and Continuous Improvement'
    items={[
      {
        title: '2012',
        description:
          " Started building websites to help local businesses grow online ",
        icon: 'carbon:devices',
      },
      {
        title: '2014',
        description:
          " Began building online stores for larger companies ",
        icon: 'carbon:shopping-cart-plus',
      },
      {
        title: '2015',
        description:
          " Added digital marketing (SEO and Google Ads) to help clients get more customers ",
        icon: 'carbon:search-locate-mirror',
      },
      {
        title: '2016',
        description:
          " Started building mobile apps for iPhones and Android phones ",
        icon: 'carbon:application-mobile',
      },
      {
        title: '2017',
        description:
          " Began creating custom software and web apps to improve business operations ",
        icon: 'carbon:application-web',
      },
      {
        title: '2020',
        description:
          " Completed our first government project, helping with COVID-19 management ",
        icon: 'carbon:coronavirus',
      },
      {
        title: '2021',
        description:
          " Started working with IoT hardware to offer complete digital solutions ",
        icon: 'carbon:iot-platform',
      },
      {
        title: '2025',
        description:
          " Will be exporting Sarawak digital workforce to the globe ",
        icon: 'carbon:earth-southeast-asia',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-black/70 dark:bg-black/30"></div>
  </Fragment>
  </Steps4>


  <PortFolioSummary/>

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={2}
    items={[
      {
        title: 'Kuching',
        description: '1207, Jalan Perbadanan, Pending Industrial Estate, 93450 Kuching',
      },
      {
        title: 'Kuala Lumpur',
        description: 'A1-16-12, Arcoris Mont Kiara, 50480 Kuala Lumpur',
      },
    ]}
  />


</Layout>
