---
import Layout from '~/layouts/PageLayout.astro';
import ThreeJs from "~/components/widgets/ThreeJs.astro";
import Hero2 from '~/components/widgets/Hero2.astro';
import Banners2 from '~/components/widgets/Banners2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Features5 from '~/components/widgets/Features5.astro';
import FollowUp from '~/components/widgets/FollowUp.astro';
const metadata = {
  title: 'AI Marketing - MicroWeb',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <ThreeJs/>
  <Hero2
  tagline="AI-Powered Digital Marketing"
  actions={[
    { variant: 'primary', text: "Let's Chat", href: '#contact' },
  ]}
  image={{
    src: '~/assets/images/analytics2.png',
    alt: 'google analytics',
  }}
>
  <Fragment slot="title">
    Personalize Experiences and boost your  <span class="text-primary text-gradient highlight tracking-tight">ROI with AI</span>
  </Fragment>

  <Fragment slot="subtitle">
    Reach the right audience with the right message at the right time. We use data-driven insights and personalized strategies to build loyalty and fuel growth.
  </Fragment>
  <Fragment slot="content">
    <Features5
        columns={4}
        classes={{ container: 'py-8' }}
        items={[
        {
            description: 'Right<br/>Customers',
            icon: 'carbon:person-favorite',
        },
        {
            description: 'AI Learns & Improves',
            icon: 'carbon:data-enrichment-add',
        },
        {
            description: 'Budget<br/>Control',
            icon: 'carbon:rule-locked',
        },
        {
            description: 'Transparent<br/>Pricing',
            icon: 'carbon:pricing-consumption',
        },
        ]}
        >
    </Features5>
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute bg-page inset-0 grid grid-cols-2 -space-x-52 opacity-80 md:opacity-85">
      <div class="blur-[106px] h-64 bg-gradient-to-br from-violet-300 to-purple-600 md:to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-200 dark:to-indigo-600"></div>
    </div>
  </Fragment>
</Hero2>
<Banners2 />

<Features4
id="features"
tagline="Personalized Connections. Measurable Growth"
columns={3}
title="How Our AI Marketing Works"
subtitle="We use AI to drive smarter marketing results. By analyzing data, we create personalized messages that maximize ROI and build lasting customer relationships, leveraging natural language processing and machine learning to understand customer needs."
classes={{ container: 'py-20 mt-80 md:mt-0 bg-white/85 md:bg-transparent' }}
items={[
  {
    title: 'Targeted Audience',
    description: "Pinpoints high-value prospects",
    icon: 'carbon:downstream',

  },
  {
    title: 'Personalized Experiences',
    description: "Crafts unique customer journeys",
    icon: 'carbon:passenger-drinks',

  },
  {
    title: 'Timing & Delivery',
    description: "Delivers messages at the perfect moment",
    icon: 'carbon:phrase-sentiment',
  },
  {
    title: 'Behavior Analysis',
    description: "Understand customer behavior with insights",
    icon: 'carbon:machine-learning-model',
  },
  {
    title: 'Result Optimization',
    description: "Maximizes marketing ROI automatically",
    icon: 'carbon:quadrant-plot',
  },
  {
    title: 'Content Creation',
    description: "Dynamic text, images and videos",
    icon: 'carbon:prompt-template',
  },
]}
>

</Features4>

<Steps3
image={{
  src: '~/assets/images/ai2.webp',
  alt: 'happy team',
}}
    title="Campaign Approach and Process"
    subtitle='Driving Growth with AI: Our Proven 5-Stage Approach'
    items={[
      {
        title: 'Stage 1: <span class="font-medium">Discovery & Strategy</span>',
        description:
          "Understanding your business, audience, and goals to create a tailored AI marketing strategy",
        icon: 'carbon:forum',
      },
      {
        title: 'Stage 2: <span class="font-medium">Implement & Integrate AI</span>',
        description:
          "Setting up the AI infrastructure, integrating data, and connecting to your existing platforms",
        icon: 'carbon:devices',
      },
      {
        title: 'Stage 3: <span class="font-medium">Develop & Execute Campaigns</span>',
        description:
          'Creating personalized messages and running targeted campaigns across various channels',
        icon: 'carbon:ibm-watsonx-code-assistant',
      },
      {
        title: 'Stage 4: <span class="font-medium">Monitor & Analyze Performance</span>',
        description: 'Tracking results, analyzing data, and using AI insights to identify areas for improvement',
        icon: 'carbon:cloud-data-ops',
      },
      {
        title: 'Stage 5: <span class="font-medium">Optimize & Continuously Improve</span>',
        description: 'Refining campaigns, adjusting strategies, and ensuring maximum ROI through ongoing optimization',
        icon: 'carbon:cloud-monitoring',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-black/70 dark:bg-black/30"></div>
  </Fragment>
  </Steps3>

  <FollowUp />

</Layout>