---
import Layout from '~/layouts/PageLayout.astro';
import ThreeJs from '~/components/widgets/ThreeJs.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Banners2 from '~/components/widgets/Banners2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Features5 from '~/components/widgets/Features5.astro';
import FollowUp from '~/components/widgets/FollowUp.astro';

const metadata = {
  ignoreTitleTemplate: true,
  title: 'AI Automation and Marketing',
  description:
    'Unlock the power of AI for your brands and operation. We offer AI automation, development, and workforce solutions to boost your business.',
};
---

<Layout metadata={metadata}>
  <ThreeJs />
  <Hero2
    tagline="AI-Powered Automation & Strategy"
    actions={[{ variant: 'primary', text: "Let's Chat", href: '#contact' }]}
    image={{
      src: '~/assets/images/analytics2.png',
      alt: 'google analytics',
    }}
  >
    <Fragment slot="title">
      A real AI that works for you<span class="text-primary text-gradient highlight tracking-tight">
        NOT just chat</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      We help client setup AI tools to automate their business operations. Client can ask AI to create a systems that
      match their operations. Contact us for more information.
    </Fragment>
    <Fragment slot="content">
      <Features5
        columns={4}
        classes={{ container: 'py-8' }}
        items={[
          {
            description: 'Automation<br/>& Future',
            icon: 'carbon:person-favorite',
          },
          {
            description: 'AI Learns & Improves',
            icon: 'carbon:data-enrichment-add',
          },
          {
            description: 'Budget<br/>Control',
            icon: 'carbon:rule-locked',
          },
          {
            description: 'Transparent<br/>Pricing',
            icon: 'carbon:pricing-consumption',
          },
        ]}
      />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute bg-page inset-0 grid grid-cols-2 -space-x-52 opacity-80 md:opacity-85">
        <div
          class="blur-[106px] h-64 bg-gradient-to-br from-violet-300 to-purple-600 md:to-purple-400 dark:from-blue-700"
        >
        </div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-200 dark:to-indigo-600"></div>
      </div>
    </Fragment>
  </Hero2>
  <Banners2 />

  <Features4
    id="features"
    tagline="Our Core Services"
    columns={3}
    title="Empowering Your Business with AI"
    subtitle="Discover how our AI solutions can revolutionize your operations, development, and workforce efficiency."
    classes={{ container: 'py-20 mt-80 md:mt-0 bg-white/80 md:bg-transparent dark:bg-black/80 dark:md:bg-transparent' }}
    items={[
      {
        title: 'AI Automation Tools',
        description:
          'Automate repetitive tasks and streamline workflows. Our tools work 24/7 to ensure your business runs efficiently without human error.',
        icon: 'carbon:bot',
      },
      {
        title: 'AI Development',
        description:
          'Custom AI solutions tailored to your business needs. From predictive analytics to intelligent chatbots, we build the future.',
        icon: 'carbon:code',
      },
      {
        title: 'Outsourcing to AI',
        description:
          'Delegate tasks to our advanced AI agents capable of handling the workload of up to 5 human resources. Maximize efficiency and reduce operational costs.',
        icon: 'carbon:user-multiple',
      },
    ]}
  />

  <Steps3
    image={{
      src: '~/assets/images/ai2.webp',
      alt: 'happy team developing AI branding strategies',
    }}
    title="Campaign Approach and Process"
    subtitle="Elevating Brands Growth with AI: Our Proven 5-Stage Approach"
    items={[
      {
        title: 'Stage 1: <span class="font-medium">Discovery & Strategy</span>',
        description: 'Understanding your business, audience, and goals to create a tailored AI marketing strategy',
        icon: 'carbon:forum',
      },
      {
        title: 'Stage 2: <span class="font-medium">AI Implementation & Brand Integration</span>',
        description: 'Setting up the AI infrastructure, integrating data, and connecting to your existing platforms',
        icon: 'carbon:devices',
      },
      {
        title: 'Stage 3: <span class="font-medium">Develop & Execute Campaigns</span>',
        description: 'Creating personalized messages and running targeted campaigns across various channels',
        icon: 'carbon:ibm-watsonx-code-assistant',
      },
      {
        title: 'Stage 4: <span class="font-medium">Monitor & Analyze Performance</span>',
        description: 'Tracking results, analyzing data, and using AI insights to identify areas for improvement',
        icon: 'carbon:cloud-data-ops',
      },
      {
        title: 'Stage 5: <span class="font-medium">Optimize & Continuously Improve</span>',
        description:
          'Refining brand messages, adjusting strategies, and ensuring maximum ROI through ongoing optimization',
        icon: 'carbon:cloud-monitoring',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 backdrop-blur-lg bg-black/70 dark:bg-black/30"></div>
    </Fragment>
  </Steps3>

  <FollowUp />
</Layout>
