---
import Layout from '~/layouts/PageLayout.astro';
import Formbricks from '~/components/widgets/Formbricks.astro';
import Features from '~/components/widgets/Features.astro';
const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- Features2 Widget ************** -->
  <Formbricks
  id="contact"
>
  <Fragment slot="content">
      <Features
      columns={1}
      items={[
        {
          title: 'Kuching',
          description: '1207, Jalan Perbadanan, Pending Industrial Estate, 93450 Kuching',
        },
        {
          title: 'Kuala Lumpur',
          description: 'A1-16-12, Arcoris Mont Kiara, 50480 Kuala Lumpur',
        },
        {
          title: 'consult@microweb.my',
          description: '<a href="tel:+60168880650">+6016-8880650</a>',
        },
      ]}
    />
    </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-white/40 dark:bg-white/5"></div>
  </Fragment>
</Formbricks>
<div class="flex gap-x-1">
  <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d9485.88106938316!2d110.37415005341535!3d1.5693919798538496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMcKwMzQnMDguOCJOIDExMMKwMjInNDEuOCJF!5e0!3m2!1sen!2smy!4v1741240944678!5m2!1sen!2smy" width="50%" height="450" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d7967.443853857051!2d101.64786802510731!3d3.1677644306561312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zM8KwMTAnMDQuMCJOIDEwMcKwMzknMDkuNCJF!5e0!3m2!1sen!2smy!4v1741241529486!5m2!1sen!2smy" width="50%" height="450" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</Layout>
