---
import Layout from '~/layouts/PageLayout.astro';
import FollowUp from '~/components/widgets/FollowUp.astro';
import Hero from '~/components/widgets/Hero.astro';
import Banners2 from '~/components/widgets/Banners2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import ThreeJs from '~/components/widgets/ThreeJs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
const metadata = {
  title: 'MicroWeb — Tailored Software, Web Development, System Integration & AI Marketing ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <ThreeJs/>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline='Agile and Adaptive'
  >
    <!--from hero tag: image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} -->
    <Fragment slot="title">
      <span class="text-primary text-gradient highlight">Digital Partner </span>That<br/> Prioritizes Your Return on Investment
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 grid grid-cols-2 -space-x-52">
        <div class="blur-[106px] h-64 bg-gradient-to-br from-red-100 to-sky-300 md:to-purple-100 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-100 to-red-400 md:to-violet-400 dark:to-indigo-600"></div>
      </div>
    </Fragment>
  </Hero>
  <Features4
        columns={4}
        classes={{ container: 'mb-96 md:mb-0 md:pb-20' }}
        items={[
          {
            title: 'Custom Software for Growth',
            description: "Secure, Seamless and <br/>Tailored Solutions",
            link: '/software',
            icon: 'carbon:analytics-custom',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'AI-Powered Marketing for Reach',
            description: "Personalized Users' <br/>Experiences",
            link: '/ai-marketing',
            icon: 'carbon:machine-learning-model',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'Future-Ready System Integration',
            description: "Seamless API and <br/>AI Solutions",
            link: '/integration',
            icon: 'carbon:ibm-z-cloud-mod-stack',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'Bespoke Web Development for UI/UX',
            description: "Navigating Digital Landscape<br/> with Confidence",
            link: '/web-development',
            icon: 'carbon:network-enterprise',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
        ]}
      >
      </Features4>
  <Banners2 />
  <FollowUp />

  <Steps3
  image={{
    src: '~/assets/images/process.webp',
    alt: 'happy people',
  }}
    title="Project Approach and Stages"
    subtitle='<strong>Control your software investment</strong> with our pay-per-service, phased approach. Start with the essential features and seamlessly scale to a full solution as your business grows'
    items={[
      {
        title: 'Stage 1: <span class="font-medium">Planning & Discovery</span>',
        description:
          "Innovate beyond traditional data entry and solve your business challenges with cutting-edge technology. Our process starts by defining your project's scope, goals, and plan",
        icon: 'carbon:forum',
      },
      {
        title: 'Stage 2: <span class="font-medium">Design & Prototyping</span>',
        description:
          "We start by creating mockups, prototypes, and technical specifications to truly understand your needs. This iterative process allows us to refine the solution and deliver a successful project",
        icon: 'carbon:devices',
      },
      {
        title: 'Stage 3: <span class="font-medium">Development & Testing</span>',
        description:
          'Our Agile and CI/CD approach means we develop software in small, integrated components. This allows for continuous testing and integration, ensuring frequent updates and a solution that can easily scale with your business',
        icon: 'carbon:ibm-watsonx-code-assistant',
      },
      {
        title: 'Stage 4: <span class="font-medium">Deployment & Release</span>',
        description: 'We handle deployment to production servers or app stores, manage releases, and coordinate with stakeholders and support to resolve post-launch issues',
        icon: 'carbon:cloud-data-ops',
      },
      {
        title: 'Stage 5: <span class="font-medium">Maintenance & Evolution</span>',
        description: 'We provide ongoing maintenance, performance optimizations, and feature updates to maximize your software investment. Because software is a living product that constantly evolves.',
        icon: 'carbon:cloud-monitoring',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-black/70 dark:bg-black/30"></div>
  </Fragment>
  </Steps3>


</Layout>
