---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Banners from '~/components/widgets/Banners.astro';
import Banners2 from '~/components/widgets/Banners2.astro';
import Banners3 from '~/components/widgets/Banners3.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats2 from '~/components/widgets/Stats2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ThreeJs from '~/components/widgets/ThreeJs.astro';

const metadata = {
  title: 'MicroWeb — Tailored Software, Web Development, System Integration & AI Marketing ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <ThreeJs/>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline='Agile and Adaptive'
  >
    <!--from hero tag: image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} -->
    <Fragment slot="title">
      <span class="text-primary dark:text-white text-gradient highlight">Digital Partner </span>That<br/> Prioritizes Your Return on Investment
    </Fragment>

    <Fragment slot="content">
        <Features4
        columns={4}
        items={[
          {
            title: 'Custom Software for Growth',
            description: "Secure, Seamless<br/> and Tailored Solutions",
            link: '/software-development',
            icon: 'carbon:analytics-custom',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'AI-Powered Marketing for Reach',
            description: "Personalized <br/> Users' Experiences",
            link: '/ai-marketing',
            icon: 'carbon:machine-learning-model',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'Future-Ready System Integration',
            description: "Seamless API <br/>and AI Solutions",
            link: '/system-integration',
            icon: 'carbon:ibm-z-cloud-mod-stack',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'Bespoke Web Development for UI/UX',
            description: "Navigating Digital Landscape<br/> with Confidence",
            link: '/web-development',
            icon: 'carbon:network-enterprise',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
        ]}
      >
      </Features4>
    </Fragment>
  </Hero>


  <Banners2 />

<!-- Features Widget *************** -->

<Features2
id="features"
tagline="Why Us"
title="Agile & Adaptive Development"
subtitle="Experience the power of iterative development, as embraced by tech giants like<br/> Google, Microsoft, and Netflix. We simplify projects into smaller phases, with a pay-as-you-go model so you only invest in the features that truly matter to your business."
classes={{ description: 'text-xs' }}
items={[
  {
    title: 'Future-Ready Solutions',
    description:
      "We use the latest technologies and design patterns to create software that’s not <span class='hidden group-hover:opacity-100 group-hover:inline'>only effective today but scalable and adaptable for tomorrow’s challenges</span>",
    icon: 'carbon:ibm-cloud-hpc',
  },
  {
    title: 'Tailored to Your Needs',
    description:
      "No two businesses are alike. We work closely to understand your objectives, <span class='hidden group-hover:inline'>workflows and pain points, crafting custom solutions that meet your needs drive growth</span>",
    icon: 'carbon:development',
  },
  {
    title: 'AI-Ready & Scalable',
    description:
      "AI integration at your software to make smarter decisions, automate processes and <span class='hidden  group-hover:inline'> deliver insights, driving your business forward with innovation and efficiency</span>",
    icon: 'carbon:ml-model-reference',
  },
  {
    title: 'Seamless<br/> Integration',
    description:
      "We seamlessly integrate custom software with your existing systems, ensuring <span class='hidden group-hover:inline'> third-party APIs, cloud services, and tools work together to maximize efficiency</span>",
    icon: 'carbon:ibm-api-connect',
  },
  {
    title: 'Continuous Integration and Deployment (CI/CD)',
    description:
      "With automated CI/CD, your software stays updated and agile, adapting swiftly to <span class='hidden  group-hover:inline'> operational changes and enabling confident scaling without downtime or disruption</span>",
    icon: 'carbon:carbon-ui-builder',
  },
  {
    title: 'Two-Way<br/> Communication',
    description:
      "Customers focus on immediate needs, while developers emphasize <span class='hidden group-hover:inline'>  long-term health. We prioritize balanced communication, empathy and collaboration to craft effective solutions</span>",
    icon: 'carbon:direct-link',
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-page"></div>
</Fragment>
</Features2>

  <!-- Stats Widget ****************** -->

  <Stats2
    stats={[
      { title: 'Content Delivery Network Worldwide', amount: '330+', },
      { title: 'High Availability Uptime', amount: '99.99%' },
      { title: 'Malicious Traffic Automatic Mitigation', amount: '< 3s' },
    ]}
  />

  <Banners/>
  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Growing Together"
    title="Partner with Us to Digitalize<br/> Your Business!"
    subtitle="We don’t just work with clients; we build long-lasting relationships where we both thrive"
    items={[
      {
        title: 'Proven Expertise',
        icon: 'carbon:badge',
        description:
          'With over a decade of experience, our team has delivered successful projects across a range of industries, helping businesses achieve their goals',
      },
      {
        title: 'Cutting-Edge Technology',
        icon: 'carbon:carbon-for-ibm-product',
        description:
          'We stay at the forefront of technology, using the latest tools and innovations to enhance efficiency and drive growth',
      },
      {
        title: 'Collaborative Partnerships',
        icon: 'carbon:events',
        description:
          "We've built strong partnerships in AI, IoT, hardware, event management and HR, delivering innovative and comprehensive business solutions",
      },
    ]}
    image={{
      src: '~/assets/images/coding.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold font-heading dark:text-white mb-2">Building on modern foundations</h3>
      <p class="text-base">Gain a competitive advantage by incorporating industry leading practices</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page"></div>
    </Fragment>
  </Content>

  <Banners3/>
  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
