---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Banners from '~/components/widgets/Banners.astro';
import Banners2 from '~/components/widgets/Banners2.astro';
import Banners3 from '~/components/widgets/Banners3.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';
import PortFolio from '~/components/widgets/PortFolio.astro';
import Stats2 from '~/components/widgets/Stats2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ThreeJs from '~/components/widgets/ThreeJs.astro';

const metadata = {
  title: 'MicroWeb — Tailored Software, Web Development, System Integration & AI Marketing ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <ThreeJs/>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline='Agile and Adaptive'
  >
    <!--from hero tag: image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} -->
    <Fragment slot="title">
      <span class="text-primary text-gradient highlight">Digital Partner </span>That<br/> Prioritizes Your Return on Investment
    </Fragment>

    <Fragment slot="content">
        <Features4
        columns={4}
        items={[
          {
            title: 'Custom Software for Growth',
            description: "Secure, Seamless<br/> and Tailored Solutions",
            link: '/software',
            icon: 'carbon:analytics-custom',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'AI-Powered Marketing for Reach',
            description: "Personalized <br/> Users' Experiences",
            link: '/ai-marketing',
            icon: 'carbon:machine-learning-model',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'Future-Ready System Integration',
            description: "Seamless API <br/>and AI Solutions",
            link: '/integration',
            icon: 'carbon:ibm-z-cloud-mod-stack',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
          {
            title: 'Bespoke Web Development for UI/UX',
            description: "Navigating Digital Landscape<br/> with Confidence",
            link: '/web-development',
            icon: 'carbon:network-enterprise',
            callToAction: {
              variant: 'link',
              class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
              icon: 'carbon:arrow-right',
            },
          },
        ]}
      >
      </Features4>
    </Fragment>
  </Hero>

  <Banners2 />

<!-- Features Widget *************** -->

<Features2
id="features"
tagline="Why Us"
title="Agile & Adaptive Development"
subtitle="Experience the power of iterative development, as embraced by tech giants like Google, Microsoft, and Netflix."
classes={{ description: 'text-xs' }}
items={[
  {
    title: 'Future-Ready Solutions',
    description:
      "We use the latest technologies and design patterns to create software that’s not <span class='hidden group-hover:opacity-100 group-hover:inline'>only effective today but scalable and adaptable for tomorrow’s challenges</span>",
    icon: 'carbon:ibm-cloud-hpc',
  },
  {
    title: 'Tailored to Your Needs',
    description:
      "No two businesses are alike. We work closely to understand your objectives, <span class='hidden group-hover:inline'>workflows and pain points, crafting custom solutions that meet your needs drive growth</span>",
    icon: 'carbon:development',
  },
  {
    title: 'AI-Ready & Scalable',
    description:
      "AI integration at your software to make smarter decisions, automate processes and <span class='hidden  group-hover:inline'> deliver insights, driving your business forward with innovation and efficiency</span>",
    icon: 'carbon:ml-model-reference',
  },
  {
    title: 'Seamless<br/> Integration',
    description:
      "We seamlessly integrate custom software with your existing systems, ensuring <span class='hidden group-hover:inline'> third-party APIs, cloud services, and tools work together to maximize efficiency</span>",
    icon: 'carbon:ibm-api-connect',
  },
  {
    title: 'Continuous Integration and Deployment (CI/CD)',
    description:
      "With automated CI/CD, your software stays updated and agile, adapting swiftly to <span class='hidden  group-hover:inline'> operational changes and enabling confident scaling without downtime or disruption</span>",
    icon: 'carbon:carbon-ui-builder',
  },
  {
    title: 'Two-Way<br/> Communication',
    description:
      "Customers focus on immediate needs, while developers emphasize <span class='hidden group-hover:inline'>  long-term health. We prioritize balanced communication, empathy and collaboration to craft effective solutions</span>",
    icon: 'carbon:direct-link',
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-page"></div>
</Fragment>
</Features2>

  <!-- Stats Widget ****************** -->

  <Stats2
    stats={[
      { title: 'Content Delivery Network Worldwide', amount: '330+', },
      { title: 'High Availability Uptime', amount: '99.99%' },
      { title: 'Malicious Traffic Automatic Mitigation', amount: '< 3s' },
    ]}
  />

  <Banners/>
  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Growing Together"
    title="Partner with Us to Digitalize<br/> Your Business"
    subtitle="We don’t just work with clients; we build long-lasting relationships where we both thrive"
    items={[
      {
        title: 'Proven Expertise',
        icon: 'carbon:badge',
        description:
          'With over a decade of experience, our team has delivered successful projects across a range of industries, helping businesses achieve their goals',
      },
      {
        title: 'Collaborative Partnerships',
        icon: 'carbon:events',
        description:
          "We've built strong partnerships in AI, IoT, hardware, event management and HR, delivering innovative and comprehensive business solutions",
      },      
      {
        title: 'Build on Modern Foundations',
        icon: 'carbon:layers-external',
        description:
          "Gain a competitive advantage by incorporating industry leading practices ",
      },
      {
        title: 'Cutting-Edge Technology',
        icon: 'carbon:carbon-for-ibm-product',
        description:
          'We stay at the forefront of technology, using the latest tools and innovations',
      },
      {
        callToAction: {
          text: "Let's Chat",
          variant: 'primary',
          href: '#contact',
          icon: 'tabler:chevron-right',
        },
      },
    ]}
    image={{
      src: '~/assets/images/coding.jpg',
      alt: 'Colorful Image',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page"></div>
    </Fragment>
  </Content>

  <Banners3/>
  <!-- Content Widget **************** -->

  <PortFolio
    id="porfolio"
    title="Our Clients and Us"
    tagline="Portfolio"
    classes={{panel:'bg-blue-950 text-white', container:'pb-4 pt-12 md:pb-4 md:pt-16 lg:pb-4 lg:pt-20'}}
    items={[
      {
        title: 'Delivering Excellence Under Guidelines',
        icon: 'carbon:application-web',
        description:
          'Ford had a very specific vision for the website, with strict guidelines on design aesthetics, font usage (yes, that iconic Ford font!) and overall user experience.',
      },
    ]}
    image={{
      src: '~/assets/images/ford_raptor.webp',
      alt: 'ford raptor',
    }}
    callToAction={{
      target: '_blank',
      text: 'Read case study',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
        Applying Ford's Design Standards <br /><span class="text-lg font-semibold">Meeting UI/UX Development Standards in Local Retails</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page"></div>
    </Fragment>
  </PortFolio>

  <PortFolio
  isReversed
  isAfterContent
  classes={{panel:'bg-amber-300 dark:bg-fuchsia-950', container:'py-4 md:py-4 lg:py-4'}}
  items={[
    {
      title: 'Streamlining the Customer Journey: AI-Driven Approach',
      icon: 'carbon:application-web',
      description:
        "Boosted sales by targeting the right customers at the right time. We optimized Google Ads campaign by leveraging AI for precise audience targeting, strategic scheduling, and dynamic bidding.",
    },
  ]}
  image={{
    src: '~/assets/images/bosoffice_chair.webp',
    alt: 'Bos Office Chair',
  }}
  callToAction={{
    target: '_blank',
    text: 'Read case study',
    icon: 'tabler:chevron-right',
    href: '#',
  }}
>
  <Fragment slot="content">
    <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
      Bos Office System <br /><span class="text-lg font-semibold">Leveraging AI-Powered Marketing</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page"></div>
  </Fragment>
</PortFolio>

<PortFolio
  isAfterContent
  classes={{panel:'bg-[#e1e1e1] dark:bg-slate-700', container:'py-4 md:py-4 lg:py-4'}}
  items={[
    {
      title: 'More Reliable and Privacy-Conscious Approach',
      icon: 'carbon:application-web',
      description:
        'Recognizing the limitations of QR codes, reliance on user scanning, limited data accuracy, and the impracticality of widespread GPS tracking - we opted for more robust solution.',
    },
  ]}
  image={{
    src: '~/assets/images/wristband2.webp',
    alt: 'ford raptor',
  }}
  callToAction={{
    target: '_blank',
    text: 'Read case study',
    icon: 'tabler:chevron-right',
    href: '#',
  }}
>
  <Fragment slot="content">
    <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
      COVID-19 and Border Authorities <br /><span class="text-lg font-semibold">The Shift from QR Codes to Bluetooth Beacons</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page"></div>
  </Fragment>
</PortFolio>


  <CallToAction
  classes={{container:'pt-0 md:pt-0 lg:pt-0'}}
    actions={[
      {
        variant: 'secondary',
        text: 'See more case studies',
        href: 'blog.microweb.my',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page"></div>
    </Fragment>
  </CallToAction>


  <Steps3
    title="Project Approach and Stages"
    subtitle='Control your software investment with our pay-per-service, phased approach. Start with the essential features and seamlessly scale to a full solution as your business grows'
    items={[
      {
        title: 'Stage 1: <span class="font-medium">Planning & Discovery</span>',
        description:
          "Innovate beyond traditional data entry and solve your business challenges with cutting-edge technology. Our process starts by defining your project's scope, goals, and plan",
        icon: 'carbon:forum',
      },
      {
        title: 'Stage 2: <span class="font-medium">Design & Prototyping</span>',
        description:
          "We start by creating mockups, prototypes, and technical specifications to truly understand your needs. This iterative process allows us to refine the solution and deliver a successful project",
        icon: 'carbon:devices',
      },
      {
        title: 'Stage 3: <span class="font-medium">Development & Testing</span>',
        description:
          'Our Agile and CI/CD approach means we develop software in small, integrated components. This allows for continuous testing and integration, ensuring frequent updates and a solution that can easily scale with your business',
        icon: 'carbon:ibm-watsonx-code-assistant',
      },
      {
        title: 'Stage 4: <span class="font-medium">Deployment & Release</span>',
        description: 'We handle deployment to production servers or app stores, manage releases, and coordinate with stakeholders and support to resolve post-launch issues',
        icon: 'carbon:cloud-data-ops',
      },
      {
        title: 'Stage 5: <span class="font-medium">Maintenance & Evolution</span>',
        description: 'We provide ongoing maintenance, performance optimizations, and feature updates to maximize your software investment. Because software is a living product that constantly evolves.',
        icon: 'carbon:cloud-monitoring',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-black/70 dark:bg-black/30"></div>
  </Fragment>
  </Steps3>


</Layout>
