---
import Layout from '~/layouts/PageLayout.astro';
import ThreeJs from "~/components/widgets/ThreeJs.astro";
import Hero2 from '~/components/widgets/Hero2.astro';
import Banners2 from '~/components/widgets/Banners2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Features5 from '~/components/widgets/Features5.astro';
import FollowUp from '~/components/widgets/FollowUp.astro';
const metadata = {
  title: 'Custom Mobile App Development - KL - Kuching | MicroWeb',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <ThreeJs/>
  <Hero2
    tagline="Custom Mobile App Development"
    actions={[
      { variant: 'primary', text: "Let's Chat", href: '#contact' },
    ]}
    image={{
      src: '~/assets/images/web.webp',
      alt: 'Mobile app development multiple devices',
    }}
  >
    <Fragment slot="title">
      Engage, retain, and <span class="text-primary text-gradient highlight tracking-tight">grow</span> your mobile audience
    </Fragment>

    <Fragment slot="subtitle">
      Build a seamless mobile experience that delights users. Our custom mobile app development creates lasting brand engagement.
    </Fragment>
    <Fragment slot="content">
      <Features5
        columns={4}
        classes={{ container: 'py-8' }}
        items={[
          {
            description: 'Custom<br/>Development',
            icon: 'carbon:ibm-watsonx-code-assistant',
          },
          {
            description: 'Cross-Platform<br/>Expertise',
            icon: 'carbon:mobile-add',
          },
          {
            description: 'Transparent<br/>Pricing',
            icon: 'carbon:pricing-consumption',
          },
          {
            description: 'Agile<br/>Development',
            icon: 'carbon:chart-radar',
          }
        ]}
      >
      </Features5>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute bg-page inset-0 grid grid-cols-2 -space-x-52 opacity-80 md:opacity-85">
        <div class="blur-[106px] h-64 bg-gradient-to-br from-violet-300 to-purple-500 md:to-purple-300 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-300 to-sky-200 dark:to-indigo-600"></div>
      </div>
    </Fragment>
  </Hero2>
  <Banners2 />

  <Features4
    id="features"
    tagline="Immersive Mobile Experiences"
    columns={3}
    title="Innovation + Functionality + User Engagement"
    subtitle="From intuitive design to seamless functionality, we prioritize user experience to maximize engagement and satisfaction, ensuring a positive brand interaction."
    classes={{ container: 'py-20 mt-80 md:mt-0 bg-white/80 md:bg-transparent dark:bg-black/80 dark:md:bg-transparent' }}
    items={[
      {
        title: 'User-Centric Design',
        description: "Intuitive, engaging, and easy to navigate. Design with your mobile users in mind.",
        icon: 'carbon:customer',
      },
      {
        title: 'Cross-Platform Development',
        description: "Reach a wider audience with apps that work seamlessly on iOS and Android.",
        icon: 'carbon:carbon-for-mobile',
      },
      {
        title: 'Modern Mobile UI/UX',
        description: "Leverage the latest mobile design trends and technologies for a superior user experience.",
        icon: 'carbon:carbon-ui-builder',
      },
      {
        title: 'Performance Optimization',
        description: "Fast loading times and smooth performance for optimal user satisfaction.",
        icon: 'carbon:forecast-lightning',
      },
      {
        title: 'Seamless Integration',
        description: "Integrate with existing systems and third-party services for enhanced functionality.",
        icon: 'carbon:devices',
      },
      {
        title: 'Custom-Built Solutions',
        description: "Develop apps tailored to your specific business needs and user requirements.",
        icon: 'carbon:ibm-z-cloud-mod-stack',
      },
    ]}
  >
  </Features4>

  <Steps3
    image={{
      src: '~/assets/images/webdev.webp',
      alt: 'happy team mobile app development',
    }}
    title="Phased Mobile App Development"
    subtitle="Collaborate with us from concept to launch, with phased development and payments, ensuring complete satisfaction. <strong>We offer tailored solutions, not rigid templates</strong>"
    items={[
      {
        title: 'Stage 1: <span class="font-medium">Discovery & Planning</span>',
        description: "We work with you to define your app's purpose, target audience, and key features. We establish a clear project scope and timeline.",
        icon: 'carbon:forum',
      },
      {
        title: 'Stage 2: <span class="font-medium">Design & Prototyping</span>',
        description: "We create wireframes and mockups to visualize the app's user interface and experience. We refine the design based on your feedback.",
        icon: 'carbon:devices',
      },
      {
        title: 'Stage 3: <span class="font-medium">Development & Implementation</span>',
        description: 'Our developers build your app using the latest mobile technologies. We ensure clean, efficient, and secure code.',
        icon: 'carbon:ibm-watsonx-code-assistant',
      },
      {
        title: 'Stage 4: <span class="font-medium">Testing & Quality Assurance</span>',
        description: 'We conduct rigorous testing on various devices and platforms to ensure your app is bug-free and performs optimally.',
        icon: 'carbon:ibm-watsonx-code-assistant',
      },
      {
        title: 'Stage 5: <span class="font-medium">Deployment & Launch</span>',
        description: 'We guide you through the app store submission process and assist with the launch of your app.',
        icon: 'carbon:cloud-data-ops',
      },
      {
        title: 'Stage 6: <span class="font-medium">Maintenance & Support</span>',
        description: 'We provide ongoing maintenance, updates, and support to ensure your app remains secure and up-to-date.',
        icon: 'carbon:cloud-monitoring',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 backdrop-blur-lg bg-black/70 dark:bg-black/30"></div>
    </Fragment>
  </Steps3>

  <FollowUp />
</Layout>