---
import Layout from '~/layouts/PageLayout.astro';
import ThreeJs from "~/components/widgets/ThreeJs.astro";
import Hero2 from '~/components/widgets/Hero2.astro';
import Banners2 from '~/components/widgets/Banners2.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Features5 from '~/components/widgets/Features5.astro';
import FollowUp from '~/components/widgets/FollowUp.astro';
const metadata = {
  title: 'Custom Software Development - MicroWeb',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <ThreeJs/>
  <Hero2
  tagline="Custom Software Development"
  actions={[
    { variant: 'primary', text: "Let's Chat", href: '#contact' },
  ]}
  image={{
    src: '~/assets/images/software_hero.webp',
    alt: 'software development multiple devices',
  }}
>
  <Fragment slot="title">
    Future-Proof Your Business and <span class="text-primary text-gradient highlight tracking-tight">Achieve Growth</span> with Innovative Solutions 
  </Fragment>

  <Fragment slot="subtitle">
    We build custom software solutions tailored to your specific business needs. Our agile approach ensures your system grows with you, making it future-ready and AI-powered.
  </Fragment>
  <Fragment slot="content">
    <Features5
        columns={4}
        classes={{ container: 'py-8' }}
        items={[
        {
            description: 'Mobile',
            icon: 'carbon:carbon-for-mobile',
        },
        {
            description: 'Desktop',
            icon: 'carbon:cloud-logging',
        },
        {
            description: 'Hardware',
            icon: 'carbon:archive',
        },
        {
            description: 'Web',
            icon: 'carbon:cloud-app',
        }
        ]}
        >
    </Features5>
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute bg-page inset-0 grid grid-cols-2 -space-x-52 opacity-80 md:opacity-85">
      <div class="blur-[106px] h-64 bg-gradient-to-br from-violet-300 to-purple-500 md:to-purple-300 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-300 to-sky-200 dark:to-indigo-600"></div>
    </div>
  </Fragment>
</Hero2>

<Banners2 />

<Features4
id="features"
tagline="Modern Software Ecosystem"
columns={3}
title="Bespoke Software & Custom Integrations"
subtitle="Your business is unique. Your software should be too. That's why we build custom software, connecting your existing systems with the leading platforms that matter most to your operations and industry, including:"
classes={{ container: 'py-20 mt-80 md:mt-0 bg-white/85 md:bg-transparent' }}
items={[
  {
    title: 'Enterprise-Grade Development',
    description: "Secure & Reliability",
    link: '/enterprise',
    icon: 'carbon:network-enterprise',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
  {
    title: 'Healthcare & IoT Solutions',
    description: "Connected Health & Remote Monitoring",
    link: '/healthcare',
    icon: 'carbon:stethoscope',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
  {
    title: 'Logistics & Supply Chain',
    description: "Traceability & Cost savings",
    link: '/logistics',
    icon: 'carbon:delivery-truck',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
  {
    title: 'Retail & E-Commerce',
    description: "Customer Experience & Revenue Growth",
    link: '/retail',
    icon: 'carbon:shopping-cart-arrow-down',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
  {
    title: 'Manufacturing & Industry 4.0',
    description: "Automation & Smart Factory",
    link: '/manufacturing',
    icon: 'carbon:industry',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
  {
    title: 'AgriTech & Smart Farming',
    description: "Precision Agriculture & Yield Optimization",
    link: '/agriculture',
    icon: 'carbon:agriculture-analytics',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
  {
    title: 'Hospitality & Tourism',
    description: "Guest Satisfaction & Revenue Growth",
    link: '/hospitality',
    icon: 'carbon:pedestrian-family',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
  {
    title: 'Education & E-Learning',
    description: "Personalized Learning & Engagement",
    link: '/education',
    icon: 'carbon:tennis-ball',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
  {
    title: '3D Development',
    description: "Innovative Mechanics & Gameplay",
    link: '/games',
    icon: 'carbon:game-wireless',
    callToAction: {
      variant: 'link',
      class: 'text-white bg-black/15 dark:bg-white/10 gotolink p-1.5 pb-[7px] rounded-full',
      icon: 'carbon:arrow-right',
    },
  },
]}
>

</Features4>

<Steps3
    image={{
      src: '~/assets/images/process.webp',
      alt: 'happy people',
    }}
    title="Project Approach and Stages"
    subtitle='<strong>Control your software investment</strong> with our pay-per-service, phased approach. Start with the essential features and seamlessly scale to a full solution as your business grows'
    items={[
      {
        title: 'Stage 1: <span class="font-medium">Planning & Discovery</span>',
        description:
          "Innovate beyond traditional data entry and solve your business challenges with cutting-edge technology. Our process starts by defining your project's scope, goals, and plan",
        icon: 'carbon:forum',
      },
      {
        title: 'Stage 2: <span class="font-medium">Design & Prototyping</span>',
        description:
          "We start by creating mockups, prototypes, and technical specifications to truly understand your needs. This iterative process allows us to refine the solution and deliver a successful project",
        icon: 'carbon:devices',
      },
      {
        title: 'Stage 3: <span class="font-medium">Development & Testing</span>',
        description:
          'Our Agile and CI/CD approach means we develop software in small, integrated components. This allows for continuous testing and integration, ensuring frequent updates and a solution that can easily scale with your business',
        icon: 'carbon:ibm-watsonx-code-assistant',
      },
      {
        title: 'Stage 4: <span class="font-medium">Deployment & Release</span>',
        description: 'We handle deployment to production servers or app stores, manage releases, and coordinate with stakeholders and support to resolve post-launch issues',
        icon: 'carbon:cloud-data-ops',
      },
      {
        title: 'Stage 5: <span class="font-medium">Maintenance & Evolution</span>',
        description: 'We provide ongoing maintenance, performance optimizations, and feature updates to maximize your software investment. Because software is a living product that constantly evolves.',
        icon: 'carbon:cloud-monitoring',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-black/70 dark:bg-black/30"></div>
  </Fragment>
  </Steps3>

  <FollowUp />

</Layout>