---
// import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 font-heading text-2xl text-brand whitespace-nowrap transition-all"
>
<span class="hover:text-primary transition-colors">Micro</span><span class="text-muted hover:text-accent transition-colors">Web</span>
</span>
