---
import PortFolio from '~/components/widgets/PortFolio.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ContentContact from '~/components/widgets/ContentContact.astro';
---
  <PortFolio
    id="porfolio"
    title="Our Clients and Us"
    tagline="See Our Success Stories"
    classes={{panel:'bg-blue-950 text-white', container:'pb-4 pt-12 md:pb-4 md:pt-16 lg:pb-4 lg:pt-20', action:'text-primary dark:text-accent'}}
    items={[
      {
        title: 'Ford Website Design',
        icon: 'carbon:application-web',
        description: 'We built a custom website following Ford’s strict brand guidelines, ensuring a seamless experience for local customers.',
      },
    ]}
    image={{
      src: '~/assets/images/ford_raptor.webp',
      alt: "ford's website design sarawak - custom web design for ford's UI/UX standards",
    }}
    callToAction={{
      text: 'See How We Did It',
      icon: 'tabler:chevron-right',
      href: '/ford-web-design',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
        Built for Ford's Standards <br /><span class="text-lg font-semibold">UI/UX Tailored for Local Users</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page"></div>
    </Fragment>
  </PortFolio>

  <PortFolio
  isReversed
  isAfterContent
  classes={{panel:'bg-amber-300 dark:bg-fuchsia-950', container:'py-4 md:py-4 lg:py-4', action:'text-secondary dark:text-accent'}}
  items={[
    {
      title: 'AI-Powered Sales Boost',
      icon: 'carbon:application-web',
      description: 'Increased conversions with smart Google Ads targeting using AI for better timing and bids.',
    },
  ]}
  image={{
    src: '~/assets/images/bosoffice_chair.webp',
    alt: 'Setup Google Ads for Bos Office System',
  }}
  callToAction={{
    text: 'See results',
    icon: 'tabler:chevron-right',
    href: '/bosoffice',
  }}
>
  <Fragment slot="content">
    <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
      Bos Office System <br /><span class="text-lg font-semibold">Smarter Ads with AI</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page"></div>
  </Fragment>
</PortFolio>

<PortFolio
  isAfterContent
  classes={{panel:'bg-[#e1e1e1] dark:bg-slate-700', container:'py-4 md:py-4 lg:py-4', action:'text-secondary dark:text-accent'}}
  items={[
    {
      title: 'Better Than QR Codes',
      icon: 'carbon:application-web',
      description: 'We developed a more reliable Bluetooth solution to overcome QR code limitations for border control.',
    },
  ]}
  image={{
    src: '~/assets/images/wristband2.webp',
    alt: 'App development of bluetooth and qr wristband for border control system in sarawak malaysia',
  }}
  callToAction={{
    text: 'See the solution',
    icon: 'tabler:chevron-right',
    href: '/digital-border-control',
  }}
>
  <Fragment slot="content">
    <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
      Border Control System <br /><span class="text-lg font-semibold">Bluetooth Beacons vs QR Codes</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page"></div>
  </Fragment>
</PortFolio>


<CallToAction
classes={{container:'pt-0 md:pt-0 lg:pt-0'}}
  actions={[
    {
      variant: 'secondary',
      text: 'See more case studies',
      href: '/clients',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page"></div>
  </Fragment>
</CallToAction>

<ContentContact
  id="contact">
  <Fragment slot="content">
    <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl">
      Build Your Digital Success</h2>
    <p class="mt-2 md:mt-4 text-lg font-semibold">High-quality websites, digital app and tools that fit your budget</p>
    <p class="mt-2 md:mt-4">Start Small, Scale Smart. Built for growth.<br/>Let's make it happen — Reach out today</p>
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-white/40 dark:bg-white/5"></div>
  </Fragment>
</ContentContact>
