---
import PortFolio from '~/components/widgets/PortFolio.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Formbricks from '~/components/widgets/Formbricks.astro';
---
  <PortFolio
    id="porfolio"
    title="Our Clients and Us"
    tagline="Portfolio"
    classes={{panel:'bg-blue-950 text-white', container:'pb-4 pt-12 md:pb-4 md:pt-16 lg:pb-4 lg:pt-20', action:'text-primary dark:text-accent'}}
    items={[
      {
        title: 'Delivering Excellence Under Guidelines',
        icon: 'carbon:application-web',
        description:
          'Ford had a very specific vision for the web solution, with strict guidelines on design aesthetics, font usage (yes, that iconic Ford font!) and overall user experience.',
      },
    ]}
    image={{
      src: '~/assets/images/ford_raptor.webp',
      alt: 'ford raptor',
    }}
    callToAction={{
      text: 'Read case study',
      icon: 'tabler:chevron-right',
      href: '/ford-web-design',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
        Applying Ford's Design Standards <br /><span class="text-lg font-semibold">Meeting UI/UX Development Standards in Local Retails</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page"></div>
    </Fragment>
  </PortFolio>

  <PortFolio
  isReversed
  isAfterContent
  classes={{panel:'bg-amber-300 dark:bg-fuchsia-950', container:'py-4 md:py-4 lg:py-4', action:'text-secondary dark:text-accent'}}
  items={[
    {
      title: 'Streamlining the Customer Journey: AI-Driven Approach',
      icon: 'carbon:application-web',
      description:
        "Boosted sales by targeting the right customers at the right time. We optimized Google Ads campaign by leveraging AI for precise audience targeting, strategic scheduling, and dynamic bidding.",
    },
  ]}
  image={{
    src: '~/assets/images/bosoffice_chair.webp',
    alt: 'Bos Office Chair',
  }}
  callToAction={{
    text: 'Read case study',
    icon: 'tabler:chevron-right',
    href: '/bosoffice',
  }}
>
  <Fragment slot="content">
    <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
      Bos Office System <br /><span class="text-lg font-semibold">Leveraging AI-Powered Marketing</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page"></div>
  </Fragment>
</PortFolio>

<PortFolio
  isAfterContent
  classes={{panel:'bg-[#e1e1e1] dark:bg-slate-700', container:'py-4 md:py-4 lg:py-4', action:'text-secondary dark:text-accent'}}
  items={[
    {
      title: 'More Reliable and Privacy-Conscious Approach',
      icon: 'carbon:application-web',
      description:
        'Recognizing the limitations of QR codes, reliance on user scanning, limited data accuracy, and the impracticality of widespread GPS tracking - we opted for more robust solution.',
    },
  ]}
  image={{
    src: '~/assets/images/wristband2.webp',
    alt: 'bluetooth wristband',
  }}
  callToAction={{
    text: 'Read case study',
    icon: 'tabler:chevron-right',
    href: '/digital-border-control',
  }}
>
  <Fragment slot="content">
    <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
      COVID-19 and Border Authorities <br /><span class="text-lg font-semibold">The Shift from QR Codes to Bluetooth Beacons</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page"></div>
  </Fragment>
</PortFolio>


<CallToAction
classes={{container:'pt-0 md:pt-0 lg:pt-0'}}
  actions={[
    {
      variant: 'secondary',
      text: 'See more case studies',
      href: '/clients',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page"></div>
  </Fragment>
</CallToAction>

<Formbricks
  id="contact"
>
  <Fragment slot="content">
    <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl">
      Let's Build Extraordinary Together</h2>
    <p class="mt-2 md:mt-4 text-base font-semibold">Transform your digital presence with agile development that adapts to your needs. </p>
    <p class="mt-2 md:mt-4 text-sm md:text-base">We understand the importance of your investment and offer flexible options, including pay-for-priority features. Contact us now to start building your digital success story.</p>
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-white/40 dark:bg-white/5"></div>
  </Fragment>
</Formbricks>