---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Formbricks from '~/components/widgets/Formbricks.astro';
// import Announcement from '~/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- <slot name="announcement">
    <Announcement />
  </slot> -->
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  
<Formbricks
  id="contact"
>
  <Fragment slot="content">
    <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl">
      Let's Build Extraordinary Together</h2>
    <p class="mt-4 text-base font-semibold">Transform your digital presence with agile development that adapts to your needs. </p>
    <p class="mt-4 text-sm md:text-base">We understand the importance of your investment and offer flexible options, including pay-for-priority features. Contact us now to start building your digital success story.</p>
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 backdrop-blur-lg bg-white/40 dark:bg-white/5"></div>
  </Fragment>
</Formbricks>

  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
